@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: Inter, system-ui, sans-serif; }

.loader {
  border: 6px solid #eee;
  border-top: 6px solid #6366f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
